body{
	margin: 0;
	background-color:rgb(0,46,167);
	#parallelogram2 {
    width: 160px;
    height: 100px;
    background: white;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
    border:black;
	}
}

h1{
	text-shadow: 3px 2px grey;
	font-size: 80px;
	text-indent:80px;
}
h3{
	color:white;
	padding:10px 10px;
	font-style:italic;
	text-align:center;
	font-size: 60px;
}
p{
	color:black;
	padding:15px 30px;
}
#parallelogram {
	padding:400px 580px 800px;
    width: 150px;
    height: 80px;
    background: rgb(0,46,167);
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
    border:black;

}

#sq {
    position:fixed;
    width:100px;
    height:100px;
    background:white;
    left:1500px;
    top:50px;
    border:black;
    text:white;
}

#sq2 {
    position:fixed;
    width:600px;
    height:300px;
    background:rgb(0,46,167);
    left:300px;
    top:199px;
    border:black;
    text:white;
}


h2{
	color:black;
	padding:15px 30px;
}
